/*color de fondo*/
/**/
/*medidas iconos*/
/*maps*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to left bottom, #845ec2, #646cc5, #4875c1, #367cb7, #3880aa, #3d8aa4, #50929c, #679896, #84a597, #a2b19d, #bebdaa, #d5cabd);
  min-height: 100vh; }
  body div .container__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer"; }

.bold {
  font-weight: 900;
  background-color: rgba(5, 56, 9, 0.185);
  border-radius: 5px; }

header {
  background-color: rgba(64, 77, 59, 0.473); }
  header div img {
    padding-top: 0.5%;
    padding-left: 0.5%;
    width: 60px; }
  header div a {
    margin-top: 1%;
    margin-left: 1%; }
  header div div select {
    background-color: rgba(113, 206, 82, 0.089);
    margin-left: 1200%; }
  header div .navbar-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    margin-left: 0.5%;
    /*background-color: aqua;*/ }

main {
  grid-area: main;
  min-height: 52vh; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  margin-top: 5%; }

ul {
  display: flex;
  list-style: none;
  justify-content: center; }
  ul li {
    margin-left: 20px; }

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  margin-top: 2px; }

.box__fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 2%;
  right: 2%;
  background-color: #4dc247a9;
  border-radius: 50%;
  box-shadow: 2px 2px 10px; }
  .box__fixed img {
    width: 40px; }

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .encabezado {
    display: flex;
    flex-wrap: wrap; }
  .contenedorMain {
    display: flex;
    flex-direction: column; }
  .presentacionUno {
    width: 80%;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; }
  .foto {
    justify-content: center;
    margin-top: 10%; }
  .fotopersonal {
    width: 300px;
    margin-left: 2%; }
  .presentacionDos {
    width: 50%;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; }
  .presentacionTres {
    width: 90%;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; }
  .contenedormainClientes {
    margin-top: 20%;
    margin-bottom: 15%; }
  .contact-box {
    display: flex;
    border-radius: 30px; } }

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  main div h1 {
    flex-direction: column; }

main section p {
  width: 500px; }

main section {
  display: flex;
  justify-content: center;
  align-items: center; }
  main section ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: initial; }
    main section ul li {
      display: flex;
      margin-top: 30px; }
      main section ul li img {
        width: 40px;
        margin-left: 20px; }

main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4%; }
  main section {
    width: 30%;
    text-align: center;
    align-content: center;
    padding: 2%;
    font-size: 1.2rem; }
    main section p {
      width: 500px; }
  main section {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    justify-content: center;
    align-items: center; }
    main section img {
      width: 300px;
      display: flex;
      flex-direction: column;
      border-radius: 200px; }
    main section a button {
      width: 100%; }

section .trabajos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  section .trabajos img {
    margin-left: 20px; }

.contenedormainClientes {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%; }

.formulario {
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px; }

.formulario::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: url(../images/1627890722-cyber-pro-edited.avif);
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(50px);
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5); }

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }

.left {
  background: url(.../images/logolp.png) no-repeat center;
  background-size: cover;
  height: 100%; }

.right {
  padding: 25px 40px; }

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.184);
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 22px;
  transition: all 0.3s ease-in-out; }

.field:hover {
  background-color: #b9bff577; }

.btn2 {
  width: 40%;
  padding: 0.3rem 0.3rem;
  background-color: rgba(0, 0, 0, 0);
  font-size: 80%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 10px; }

.btn2:hover {
  background-color: #b9bff577; }

.field:focus {
  border: 2px solid #b9bff577;
  background-color: rgba(7, 7, 7, 0.199); }

.mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mapa {
  border-radius: 20px; }
