@media only screen and (min-width: 0px) and (max-width: 1024px){
    .encabezado{
        display: flex;
        flex-wrap: wrap;
    }
    .principal{
        display: flex;
        flex-direction: column;
        section{
            width: 90%;
        }
        
    }
    .secundario{
            .sobremiContenido{
                    flex-direction:column;
                    .presentacionDos {
                        width:80%;
                        font-size: 1rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .habilidad{
                        @include flex-direction-center($column);
                        ul{
                                @include flex-direction-center($column);
                                .progress{
                                    width: 100%;
                                }
                                li{
                                    display: flex;
                                    margin-top: 30px;  
                                        
                                    img{
                                        width: 40px;
                                        margin-left: 20px;
                                    }
                                }
                            }      
                    } 
            }
    }   
    .experiencia{
        flex-direction: column;
        .terciario{
            margin-left: auto;
            margin-right:auto ;
            h1{
                font-size: 1.6rem;
            }             
            .presentacionTres{
                width:80%;
                font-size: 1rem;
            }
        }
        .encuesta{
            width: 50%;
            h2{
                font-size: 1.2rem;
            }
            .trabajos{
                margin-top: 10px;
                img{
                    margin-top: 10px;
                    width: 200px;
                }
            }
        }    
    }
    .clientes {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 37%;
        h1{
            font-size: 1.6rem;
            margin-bottom: 100px;
        }
        img{
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    }
    .contactame{
        .formulario{
            width: 70%;  
                  
            .contact-box{
                padding-left: 10%;
                padding-right: 10%; 
                justify-content: center;
                align-items: center;
                border-radius:50px;  
            }
        }
        .left{
            display: none;
        }
    }
}

.arquitectura{
    .planos{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 30px;
        .detalle{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            width: 90%;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;            
            .velero{         
                background-image: url(../images/tiendanube.jpg);                                     
            }
            .timon{    
                background-image: url(../images/quillote.png); 
                margin-top: 30px;               
            }
        }
        .refuerzos{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            width: 90%;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;  
            .quillote{
                background-image: url(../images/quillote.png);                       
            }
            .varengas{
                background-image: url(../images/quillote.png);
                margin-top: 30px;
            } 
        }     
    }
}         