@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
/*reseteo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
    background-image: url(../images/119-3264x2176.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
     
}
/*Estilos del conteiner*/
.container__grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    
}

/*Estilos del headres y de sus hijos*/
.encabezado{
    display: grid;
    grid-area: header;
    background-color: rgba(64, 77, 59, 0.534);
    position: sticky;
}
.encabezado nav{
    margin-left: 76%;
    margin-top: 0%;
}
.navbar{
    display: flex;
    list-style: none;     
    margin-left: 5%; 
    transition: all 2s;   
}
.navbar li a:hover {
    height: 10px; width: 10px;   padding: 20px;
    background-image: linear-gradient(120deg,#22b94888,#9bacd1a1);
    
}
.navbar li a{
    text-decoration: none;
    font-size: 1rem;
    color:  rgb(13, 14, 13);
    padding-left: 10px;
    padding-right: 8px;
}
.navbar__bold{
    font-weight: 900;
    background-color: rgba(5, 56, 9, 0.185); 
    border-radius:10%;
}
.Logo{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 1%;
    width: 3rem;
}
.lang{
    background-color: rgba(44, 100, 26, 0.089);
    margin-left: 95%;
    margin-top: 0.5rem;
}
.hola{
    display:flex;
    width:20%;
    margin-left: 5%;
    font-size: 70%;
}
.bold{
    font-weight: 900;
    background-color: rgba(5, 56, 9, 0.185); 
    border-radius:5px;
}
.box__fixed{
    position: fixed;
    width: 45px;
    height: 45px;
    bottom:20px;
    right:20px;
    background-color: #4dc247a9;
    border-radius: 50%;
    box-shadow: 2px 2px 6px;
}
.iconowhatsapp{
    width: 50px;
}
.contenedormain{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
}
.foto{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.foto::before {
    position: absolute;
    background-color: #c040f3a6;
    /* transform: scale(0); */
    transform: scaleY(0);
    transition: transform .4s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; 
    content: "Imagen";
}

.btn{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 10px;
    margin: 10px;
    background-image: linear-gradient(120deg,#22b94888,#9bacd1a1);
    border-radius: 100px;
    animation: gradient 10s linear infinite;
    position: relative;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration:none;
}
.btn::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
    top: 10px;
    left: 0;
    filter: blur(30px);
    opacity: 0.9;
}
@keyframes gradient {
    0% {
        filter: hue-rotate(0deg);
    }
    
    100% {
        filter: hue-rotate(360deg);
    }
        
}
.presentacionuno{
    width:30rem;
    background-image: linear-gradient(to bottom, #053809a8, #2e5222b2, #516e3bbb, #758a57c2, #99a874ab);
    text-align: center;
    align-content: center;
    padding: 1%; 
    border-radius:20px;
    box-shadow: 0px 0px 20px #000;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}


.contacto{
    display: flex;
    list-style: none;
    justify-content:center ; 
    margin-top: 5%; 
}
.contacto__redes{
    display: flex;
    margin-left: 20px;
    font-family:'Poppins', sans-serif;   
}
.contacto__redes:hover {
    height: 35px; width: 35px;   padding: 20px;
    
}
.derechos{
    justify-content:center ; 
    display: inline-flex;
    margin-top: 1 %;
    letter-spacing: 5px;   
    
}

@media screen and (max-width: 800px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: space-around;
        margin-left: 1%;
        


    }
    .fotopersonal{
        display: flex;
        width: 100%;
        flex-direction: column;
        border-radius:20px;
        box-shadow: 0px 0px 20px #000;
    }
    .hola{
        display:flex;
        font-size: 1rem;
        width:60%;
        margin-left: 5%;
        font-size: 60%;
    }
    .lang{
        background-color: rgba(44, 100, 26, 0.089);
        margin-left:1rem;
        margin-top: 0.5rem;
    }
}