.clientes {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5% ;
    h1{
        @include title;
        font-family:$font-principal;
        margin-bottom: 50px;
    }
}