body{
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(to left bottom, #845ec2, #646cc5, #4875c1, #367cb7, #3880aa, #3d8aa4, #50929c, #679896, #84a597, #a2b19d, #bebdaa, #d5cabd);    
    min-height: 100vh;
                    div .container__grid{
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto;
                        grid-template-areas: "header"
                                             "main"
                                             "footer";                                                        
                    }

}
.bold{
    font-weight: 900;
    background-color: rgba(5, 56, 9, 0.185); 
    border-radius:5px;
}
