@media only screen and (min-width: 0px) and (max-width: 1024px){
    .encabezado{
        display: flex;
        flex-wrap: wrap;
    }
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    
    .presentacionUno{
        width:70%;
        text-align: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .foto {
        justify-content: center;
        margin-top: 10%;
    }
    .fotopersonal{
       width:300px; 
       margin-left: 2%;
    }
    .presentacionDos{
        width:50%;
        text-align: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .presentacionTres{
        width:90%;
        text-align: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;     
    }    
    .contenedormainClientes{
        margin-top: 20%;
        margin-bottom: 15%;
    }
    .contact-box{
        display: flex;
        border-radius: 30px;
    }
   .formulario{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
   .left{
    display:none;
   }
   .contact-box{    
    width:300px;
    }
   
}
