@import "./variables";
@import "./reset";
@import "./estilosgenerales";
@import "./header";
@import "./main";
@import "./footer";
@import "./iconowa";
@import "./mediaquerie";

main{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
             section{
                width:25%;
                text-align: center;
                align-content: center;
                padding: 2%; 
                font-size: 1.2rem;
             }  
             section {
                display: flex;   
                flex-direction: column;
                padding-left: 2%; 
                justify-content: center;
                align-items: center;
                        img{
                            width:300px;
                            display: flex;
                            flex-direction: column;
                            border-radius:200px;
                        }
                        a{
                            button{
                                width: 100%;
                            }
                        }         
             }  

}