main{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1{
            flex-direction: column;    
        }
    }    
    section {
        p{
            width:500px;
            font-family:'Poppins', sans-serif;
        }    
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: initial;
            li{
                display: flex;
                margin-top: 30px;  
                      
                img{
                    width: 40px;
                    margin-left: 20px;
                }
            }
        }
    }
}