section{
    .trabajos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
                img{
                    margin-left:20px ;
                }
    }

}